absl-py
asgiref
astunparse
cachetools
certifi
chardet
click
Django
easydict
Flask
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
image
imutils
itsdangerous
Jinja2
Keras-Preprocessing
Markdown
MarkupSafe
numpy==1.18.5
oauthlib
opencv-python
opt-einsum
Pillow
protobuf
pyasn1
pyasn1-modules
pytz
requests
requests-oauthlib
rsa
scipy
six
sqlparse
tensorboard
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
urllib3
Werkzeug
wrapt