    <option value="none">Seleccionar Objeto</option>
    <option value="persona">Persona</option>
    <option value="mochila">Mochila</option>
    <option value="bolso">Bolso</option>
    <option value="auto">Auto</option>
    <option value="camion">Camión</option>
    <option value="bus">Bus</option>
    <option value="bicicleta">Bicicleta</option>
    <option value="motocicleta">Motocicleta</option>
    <option value="gato">Gato</option>
    <option value="perro">Perro</option>
    <option value="all">Todos</option>